body {
  font-family: sans-serif;
  text-align: center;
  color: #396;
}

.hidden {
  display: none;
}

/* Layout */
#town-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2rem auto;
  max-width: 800px;
  overflow: visible;
padding-top: 40px;

}

/* House shape */
.house {
  position: relative;
  width: 100px;
  height: 100px;
  background: #668488;
  border: 2px solid #000;
  margin: 1rem;
  overflow: visible;
  margin-top: 40px;
}
.house .door {
  position: absolute;
  bottom: 0;
  left: 35%;
  width: 30%;
  height: 50%;
  background: #fff;
  border: 2px solid #000;
}
.house .roof {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 40px solid #fff;


}



/* Exercise area */
#exercise-area {
  margin-top: 3rem;
}
#stick {
  width: 80px;
  height: auto;
  display: block;
  margin: 0 auto 1rem;
}
